<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjoy Bali</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="js/lottery.js"></script>
    <script src="js/lotteryABI.js"></script>
    <script src="js/requests.js"></script>
    <script src="js/ethereumjs-tx.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.min.js"></script>
    

</head>
<body class="master">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top nav-bg" style="background-color: #e3f2fd;">
        <a class="navbar-brand ml-5" href="#">Enjoy Bali Villa Lottery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-ul justify-content-end mr-5">
                <li class="nav-item active">
                    <a class="nav-link mr-3" href="#">Admin<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">User</a>
                </li>
            </ul>
        </div>
    </nav>      
    <h1 class="welcome_text mt-5 mb-3">Admin Dashboard</h1>
    <div class="d-flex mx-auto welcome_div justify-content-center">
        <div class="loader mr-3" id="loader"></div>
        <h2 class="welcome_text">Logged in as: <span id="account">0x...</span></h2>
    </div>

    <div class="d-flex justify-content-between full_width" id="content">
        <div class="form_div">
            <h2 class="welcome_text">Create New Lottery</h2>
            <label class="villa_text mb-4 mt-4">Select a Villa</label>
            <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active villa">
                        <img class="d-block w-100" src="/images/balivilla.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item villa">
                        <img class="d-block w-100" src="/images/balivilla2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item villa">
                        <img class="d-block w-100" src="/images/balivilla3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <form class="form mx-auto" id=form onSubmit="Lottery.initLotto()">
                <div class="form-group">
                    <label for="soft">Soft Cap (ETH)</label>
                    <input type="text" class="form-control form-control-sm" name="soft" id="soft">
                </div>
                <div class="form-group">
                    <label for="hard">Hard Cap (ETH)</label>
                    <input type="text" class="form-control form-control-sm" name="hard" id="hard">
                </div>
                <div class="form-group">
                    <label for="ticket_price">Ticket Price (ETH)</label>
                    <input type="text" class="form-control form-control-sm" name="ticket_price" id="ticket_price">
                </div>
                <label for="#">Start Time</label>
                <div class="form-row">
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm mb-3" name="weeks" id="weeks" placeholder="weeks">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm mb-3" name="days" id="days" placeholder="days">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm mb-3" name="hours" id="hours" placeholder="hours">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm" name="minutes" id="minutes" placeholder="minutes">
                    </div>
                </div>
                <button type="submit" class="btn btn-block initialize mt-5">Initialize</button>
            </form>
        </div>
    
        <div class="right_side d-flex flex-column justify-content-between">
            <div class="buy_ticket_div">
            
                <form id="buy_ticket_form">
                    <div class="form-group">
                        <h2 class="mb-5 welcome_text">Buy Tickets</h2>
                        <div class="mb-3 d-flex justify-content-between">
                            <div>Your Tickets:</div>
                            <div id="your_tickets">-</div>
                        </div>
                        <label for="ticket_amount">Amount</label>
                        <input type="text" id="ticket_amount" class="form-control form-control-sm">
                        <button class="buy_tickets btn btn-block mt-4" type="submit" id='buy_ticket'>Buy Tickets</button>
                    </div>
                </form>
            </div>

            <div class="lottery-info">
                <h2 class="welcome_text mb-4">Lottery Information</h2>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Lottery Active:</div>
                    <div id="lottery_active">False</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Villa:</div>
                    <div>3 Bedrooms With A View</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Soft Cap:</div>
                    <div id="soft_cap">-</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Hard Cap:</div>
                    <div id="hard_cap">-</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Ticket Price:</div>
                    <div id="ticket_price">-</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Tickets Purchased:</div>
                    <div id="tickets_purchased">-</div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div>Total Players:</div>
                    <div id="total_players">-</div>
                </div>
                
                <div class="mb-3 d-flex justify-content-between">
                    <div>Start Time:</div>
                    <div id="start_time">-</div>
                </div>
                <button class="draw_winner btn btn-block mt-5" id="draw_winner">Draw Winner</button>
            
            </div>

        </div>

    </div>

    <!-- <form id="free_ticket_form">
        <input type="text" placeholder="address" id="address">
        <input type="submit" value="Get Free Ticket" id="free_ticket">
    </form> -->
    
    
    
</body>
<script>
    $(document).ready(function(){
        $('#myCarousel').on('slid.bs.carousel', function () {
            console.log('works great')
        })

        $('#form').submit(function(event) {
            event.preventDefault()
        })

        $('#buy_ticket_form').submit(function(event){
            event.preventDefault()
            let amount = $('#ticket_amount').val()
            Lottery.buyTicket(amount);
        })

        $('#free_ticket_form').submit(function(event){
            event.preventDefault()
            let addy = $('#address').val()
            giveFreeticket(addy);
        })

        $('#data').click(function(){
            Lottery.getData()
        })

        $('#init').click(function (event) {
            event.preventDefault()
            Lottery.isInitialized();
        })
        
        $('#draw_winner').click(function(event) {
            event.preventDefault()
            Lottery.drawWinner();
        })
    })
</script>
</html>